@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #333333;
	--gray: #515151;
  --white: #f9f4ef;
  --maroon-dark: #800000;
  --maroon-light: #b03a2e;
	--green: #234a11;
}

* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
	
  font-family: var(--font-delius);
}

html,
body {
  overflow-x: hidden;
  color: var(--black);
  background: var(--white);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
